/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/deploy.rb
/app/databases/*
!app/databases/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/backups/*
/bin/
/bower_components/*
/build/
/Capfile
/composer.phar
/components/*
/gulp-config.json
/node_modules/*
/vendor/
/web/bundles/
/web/media/cache/
!web/media/.gitkeep
/web/uploads/
!web/uploads/.gitkeep
!web/uploads/services/.gitkeep
!web/uploads/services/1.jpg
!web/uploads/services/2.jpg
!web/uploads/services/3.jpg
!web/uploads/services/4.jpg
!web/uploads/services/5.jpg
!web/uploads/projects/.gitkeep
!web/uploads/projects/1.jpg
!web/uploads/projects/2.jpg
!web/uploads/projects/3.jpg
!web/uploads/projects/4.jpg
!web/uploads/projects/5.jpg
!.travis.yml
/secret.hack
/dbreset.sh
/web/css/*
!/web/css/.gitkeep
/web/fonts/*
/web/js/*
!/web/js/.gitkeep
/web/images/*
!/web/images/.gitkeep
/web/assetic/

# Ansible
/app/ansible/vars/
!/app/ansible/vars/.gitkeep
/app/ansible/*.retry
