{% extends ':Front:layout.html.twig' %}

{% block title %}{{ 'front.projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        {% if projects | length > 0 %}
            <div class="row">
                {% for project in projects %}
                    <div class="col-sm-4 col-xs-12">
                        {% include ':Front/includes:project-thumb.html.twig' with {project: project} %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% include ':Front/includes:paginator_buttons_bar.html.twig' with {pagination: projects} %}
    </div>
{% endblock %}
