parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     travis
    database_password: ~

    mailer_auth_mode:  login
    mailer_encryption: ssl
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       465
    mailer_user:       ~
    mailer_password:   ~

    secret:            uife79923rkjfow087823kheYU6sss

    private_test_user: admin
    private_test_pass: admin

    google_analytics_enabled: false
    google_analytics_account: "UA-fake..."

    path_java:         /usr/bin/java
    path_node:         /usr/bin/nodejs
    path_node_modules: /home/<user>/node_modules

    locale: ca
    main_brand_title: "Tu&Jo Disseny"
