parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     travis
    database_password: ~

    mailer_auth_mode:  login
    mailer_encryption: ssl
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       465
    mailer_user:       ~
    mailer_password:   ~
    mailer_destination: dummy@dummy.com
    mailer_url_base:    www.dummy.com

    secret:            ThisTokenIsNotSoSecretChangeIt

    private_admin_test_user: admin
    private_admin_test_pass: admin
    private_editor_test_user: user
    private_editor_test_pass: user

    google_analytics_enabled: false
    google_analytics_account: "UA-fake..."
    google_maps_api_key:      "xxxxxxxxxxxxx"

    path_java:         /usr/bin/java
    path_node:         /usr/bin/nodejs
    path_node_modules: /home/<user>/node_modules

    locale: ca
    main_brand_title: "Tu&Jo Disseny"
    mailchimp_api_key: xxxxxxx-us5
    mailchimp_newsletter_list_id: xxxxxxx
