<div class="extra-m-bottom">
    <ul class="blog-tags list-unstyled center-block text-center">
        <li class="title no-p-top">SUBSCRIU-TE</li>
    </ul>
    {{ form(form) }}
    {% if flash is not null %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
            <i class="fa fa-paper-plane-o"></i> {{ flash | trans }}
        </div>
    {% endif %}
</div>
{% if tags | length > 0 %}
    <ul class="extra-m-top blog-tags list-unstyled center-block text-center">
        <li class="title">CATEGORIES</li>
        {% for tag in tags if tag.posts | length > 0 %}
            <li><a href="{{ path('front_blog_tag_detail', {slug: tag.slug}) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
