{% extends ':Mail:base.html.twig' %}

{% block title %}Tu&Jo Disseny{% endblock %}

{% block body %}
    <h1>Hola de nou!</h1>
    <p>{{ contact.answer | raw }}</p>
    <br>
    <br>
    <p>
        Has rebut aquesta notificació per respondre la teva pregunta del {{ contact.createdAt | date('d/m/Y') }} a les {{ contact.createdAt | date('H:i') }}:<br>
        <em>"{{ contact.message | raw }}"</em>
    </p>
    <br>
    <br>
    <p>Gràcies per contactar amb nosaltres.</p>
{% endblock %}
