{% extends ':Mail:base.html.twig' %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4 class="text-center" style="margin-bottom:30px">HAS REBUT UN MISSATGE DE CONTACTE</h4>
                            <p class="text-center">Revisa la llista de missatges rebuts al CMS <a href="{{ url('admin_app_contactmessage_list') }}">aquí</a>, o respon directament  <a href="{{ url('admin_app_contactmessage_answer', { id: contact.id }) }}">aquí</a></p>
                            <br><br>
                            <p class="text-center" style="margin-bottom:50px">Bona sort!</p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
