{% extends ':Mail:base.html.twig' %}

{% block content %}
    <table class="row">
        <tbody>
        <tr>
            <th class="small-12 large-12 columns first last vertical-padding">
                <table>
                    <tr>
                        <th>
                            <h4 class="text-center" style="margin-bottom:30px">HOLA DE NOU!</h4>
                            <p class="text-center">{{ contact.answer | raw }}</p>
                            <br><br>
                            <p class="text-center" style="margin-bottom:50px">
                                Has rebut aquesta notificació per respondre la teva pregunta del {{ contact.createdAt | date('d/m/Y') }} a les {{ contact.createdAt | date('H:i') }}h:<br>
                                <em class="text-center">"{{ contact.message | raw }}"</em>
                            </p>
                        </th>
                        <th class="expander"></th>
                    </tr>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}
