{% extends ':Mail:base.html.twig' %}

{% block title %}Tu&Jo Disseny{% endblock %}

{% block body %}
    <h1>Gràcies per contactar amb nosaltres!</h1>
    <p>
        Hem rebut la teva pregunta:<br><br>
        <em>"{{ contact.message | raw }}"</em><br><br>
    </p>
    <br>
    <br>
    <p>Respondre'm el més aviat possible. Estem en contacte.</p>
{% endblock %}
