{% extends ':Mail:base.html.twig' %}

{% block title %}{{ subject }}{% endblock %}

{% block tablebody %}
    <table class="row">
        <tr>
            <td class="wrapper last">
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <h3>{{ name }} · {{ address }}</h3>
                            <p>{{ message }}</p>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
