{% extends ':Front:layout.html.twig' %}

{% block main %}
    <div class="container">
        {% if projects | length > 0 %}
            <div class="row">
                {% for project in projects %}
                    <div class="col-sm-6 col-xs-12">
                        <a href="{{ path('front_project_detail', {slug: project.slug}) }}">
                            <img class="img-responsive" src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('700x495') }}" alt="{{ project.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
