// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";

// Variables
@blue-dark:   #08122F;
@blue-light:  #2D7477;
@cream-dark:  #B5AE7F;
@cream-light: #D2CCA9;
@white:       #FFFFFF;
@grey:        #DADAD9;
@black:       #1C1C1B;
@gap-big:    @gap-normal * 2;
@gap-normal: 20px;
@gap-small:  @gap-normal / 2;
@borderline: solid 2px @black;

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path: "/bundles/app/fonts";
@font-face {
  font-family: 'bauer';
  src:url('@{fa-font-path}/bauerbodonistd-bold.eot');
  src:url('@{fa-font-path}/bauerbodonistd-bold.eot?#iefix') format('embedded-opentype'),
  url('@{fa-font-path}/bauerbodonistd-bold.ttf') format('truetype'),
  url('@{fa-font-path}/bauerbodonistd-bold.woff') format('woff'),
  url('@{fa-font-path}/bauerbodonistd-bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interstate';
  src:url('@{fa-font-path}/interstate-regular-2.eot');
  src:url('@{fa-font-path}/interstate-regular-2.eot?#iefix') format('embedded-opentype'),
  url('@{fa-font-path}/interstate-regular-2.ttf') format('truetype'),
  url('@{fa-font-path}/interstate-regular-2.woff') format('woff'),
  url('@{fa-font-path}/interstate-regular-2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-size-base: 12px;
@font-family-sans-serif: "interstate", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
.c-dblue    { color: @blue-dark }
.c-lblue    { color: @blue-light }
.c-dcream   { color: @cream-dark }
.c-lcream   { color: @cream-light }
.c-white    { color: @white }
.c-grey     { color: @grey }
.c-black    { color: @black }
.bc-dblue   { background-color: @blue-dark }
.bc-lblue   { background-color: @blue-light }
.bc-dcream  { background-color: @cream-dark }
.bc-lcream  { background-color: @cream-light }
.bc-white   { background-color: @white }
.bc-grey    { background-color: @grey }
.bc-black   { background-color: @black }

// Links
@link-color: @black;
@text-color: @grey;
.no-text-decoration, .no-text-decoration:hover {
  text-decoration: none;
}

// Inputs
@input-color: @black;
@input-bg: transparent;
@input-color-placeholder: @black;
@input-border: @black;
@input-border-focus: @black;
@input-border-radius: 0;
@input-border-radius-large: 0;
@input-border-radius-small: 0;
input, textarea {
  &.form-control { border: @borderline; outline: none; box-shadow: none !important; }
}
textarea { resize: vertical; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { opacity: 1; -webkit-transition: opacity 0.5s; transition: opacity 0.5s; }
input::-moz-placeholder,          textarea::-moz-placeholder          { opacity: 1; -moz-transition:    opacity 0.5s; transition: opacity 0.5s; }
input:-moz-placeholder,           textarea:-moz-placeholder           { opacity: 1; -moz-transition:    opacity 0.5s; transition: opacity 0.5s; }
input:-ms-input-placeholder,      textarea:-ms-input-placeholder      { opacity: 1; -ms-transition:     opacity 0.5s; transition: opacity 0.5s; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity: 0.2; }
input:focus::-moz-placeholder,          textarea:focus::-moz-placeholder          { opacity: 0.2; }
input:focus:-moz-placeholder,           textarea:focus:-moz-placeholder           { opacity: 0.2; }
input:focus:-ms-input-placeholder,      textarea:focus:-ms-input-placeholder      { opacity: 0.2; }

// Buttons
.btn-default.squared {
  border-radius: 0;
  border: @borderline;
  width: 100%;
  display: block;
  background-color: transparent;
  &.bolder { font-weight: bolder; }
  &.newsletter {
    height: 31px;
    line-height: normal;
    margin-left: -2px;
    padding-right: 16px;
  }
}

// Gaps
.no-m        { margin: 0; }
.no-m-top    { margin-top: 0; }
.no-m-bottom { margin-bottom: 0; }
.no-m-left   { margin-left: 0; }
.no-m-right  { margin-right: 0; }
.m-top    { margin-top: @gap-normal; }
.m-bottom { margin-bottom: @gap-normal; }
.extra-m-top    { margin-top: @gap-big; }
.extra-m-bottom { margin-bottom: @gap-big; }
.no-p-left  { padding-left: 0; }
.no-p-right { padding-right: 0; }
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}
.no-h-margin {
  margin-left: 0;
  margin-right: 0;
}
.minus-left-margin        { margin-left:  -@gap-normal; }
.minus-left-margin-small  { margin-left:  -@gap-small; }
.minus-right-margin       { margin-right: -@gap-normal; }
.minus-right-margin-small { margin-right: -@gap-small; }

// Navbar
@navbar-margin-bottom: @gap-big;
@navbar-default-bg: transparent;
@navbar-default-link-color: @black;
@navbar-default-link-hover-color: @black;
@navbar-default-link-active-color: @black;
@navbar-default-link-active-bg: transparent;
@navbar-default-border: transparent;
@navbar-border-radius: 0;
@navbar-height: 50px;
.navbar {
  margin-top: @gap-big;
  margin-bottom: @gap-big;
  border: 0;
  .navbar-collapse { padding-right: 0; }
}
ul.top-menu {
  li {
    &.extra-m-left  { margin-left: @gap-normal;  }
    &.extra-m-right { margin-right: @gap-normal; }
    &.active {
      a {
        text-decoration: none;
        background: url('/bundles/app/vectors/current-menu.svg') 50% 50% no-repeat;
      }
    }
    a {
      &:hover {
        text-decoration: none;
        background: url('/bundles/app/vectors/current-menu.svg') 50% 50% no-repeat;
      }
      text-transform: uppercase;
      overflow: visible;
      //height: 51px;
      display: block;
      //padding-top: 14px;
      //margin-top: -16px;
      font-weight: bold;
      font-size: @font-size-small;
      @media(min-width: @screen-xs-max) {
        font-size: @font-size-base;
      }
      @media(min-width: @screen-sm-max) {
        font-size: @font-size-large;
      }
    }
  }
}

// Carousel
@carousel-text-shadow: none;
@carousel-control-color: @black;
@carousel-control-opacity: 1;
div#serveis {
  .carousel-control.right, .carousel-control.left {
    background-image: none;
  }
  .carousel-caption {
    bottom: 35%;
  }
}
.arrow-v-center {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  text-shadow: none;
}

// Header
header.main {
  padding: @gap-normal 0;
  margin-top: @gap-normal;
  margin-bottom: @gap-normal;
}

// Content
img.thumb { margin-bottom: @gap-normal; }

// Map
.google-maps-container { height: 300px; }

// Unsorted Lists
ul.blog-tags {
  li {
    color: @black;
    padding: @gap-small;
    border-top: solid 1px @black;
    &.title {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      border-top: none;
      padding: 0 @gap-normal @gap-normal @gap-normal;
    }
    &:nth-child(2) { border-top: none; }
  }
}

// Footer
footer.main {
  padding: @gap-big 0;
  color: @black;
  background-color: @grey;
  a.social-network-icon {
    margin-right: @gap-small;
    &:hover { text-decoration: none; }
  }
  hr {
    border: 0;
    border-top: @borderline;
    margin: @gap-big 0 @gap-small 0;
  }
}

// Hovers
.hover-effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  margin-bottom: @gap-normal;
  .overlay {
    padding: 100px 65px 100px 20px;
    width: 65%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    .opacity(0);
    background-color: rgba(255, 255, 255, 0.85);
    .transition(all .2s ease-in-out);
    transform: skewX(-10deg);
    h2, h3 { transform: skewX(10deg); }
  }
  img {
    display: block;
    position: relative;
  }
  h2 {
    color: @black;
    position: relative;
    font-size: 17px;
    padding: 0;
    margin: 0 0 @gap-small 0;
  }
  h3 {
    color: lighten(@black, 30%);
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
}
.hover-effect:hover .overlay {
  .opacity(1);
}

// Scroll to top helper
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: lighten(@black, 30);
  color: @white;
  width: 60px;
  height: 60px;
  right: 15px;
  bottom: 15px;
  padding-top: 8px;
  .transition (all 0.5s ease-in-out);
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 0.85;
  }
  i.fa { line-height: inherit; }
}

// Other customizations
hr.c-black { border-top-color: @black; }

.display-block { display: block; }
