// Imports
@import "../../../../../vendor/twbs/bootstrap/less/bootstrap.less";
@import "../../../../../vendor/components/font-awesome/less/font-awesome.less";

// Variables
@blue-dark:   #08122F;
@blue-light:  #2D7477;
@cream-dark:  #B5AE7F;
@cream-light: #D2CCA9;
@white:       #FFFFFF;
@grey:        #DADAD9;
@black:       #1C1C1B;
@gap-big: @gap-normal * 2;
@gap-normal: 20px;
@gap-small: @gap-normal / 2;
@borderline: solid 2px @black;

// Fonts
@icon-font-path: "/bundles/app/fonts/";
@fa-font-path: "/bundles/app/fonts";

// Colors
.c-dblue    { color: @blue-dark }
.c-lblue    { color: @blue-light }
.c-dcream   { color: @cream-dark }
.c-lcream   { color: @cream-light }
.c-white    { color: @white }
.c-grey     { color: @grey }
.c-black    { color: @black }
.bc-dblue   { background-color: @blue-dark }
.bc-lblue   { background-color: @blue-light }
.bc-dcream  { background-color: @cream-dark }
.bc-lcream  { background-color: @cream-light }
.bc-white   { background-color: @white }
.bc-grey    { background-color: @grey }
.bc-black   { background-color: @black }

// Links
@link-color: @black;
@text-color: @grey;

// Inputs
@input-color: @black;
@input-bg: transparent;
@input-color-placeholder: @black;
@input-border: @black;
@input-border-focus: @grey;
@input-border-radius: 0;
@input-border-radius-large: 0;
@input-border-radius-small: 0;
input, textarea {
  &.form-control { border: @borderline; }
}
textarea { resize: vertical; }

// Buttons
.btn-default.squared {
  border-radius: 0;
  border: @borderline;
  width: 100%;
  display: block;
  background-color: transparent;
  &.bolder { font-weight: bolder; }
  &.newsletter {
    height: 34px;
    line-height: normal;
    margin-left: -6px;
    padding-right: 16px;
  }
}

// Gaps
.no-m { margin: 0; }
.no-m-top { margin-top: 0; }
.no-m-bottom { margin-bottom: 0; }
.no-m-left { margin-left: 0; }
.no-m-right { margin-right: 0; }
.m-top { margin-top: @gap-normal; }
.m-bottom { margin-bottom: @gap-normal; }
.extra-m-top { margin-top: @gap-big; }
.extra-m-bottom { margin-bottom: @gap-big; }
.no-p-left { padding-left: 0; }
.no-p-right { padding-right: 0; }
.no-h-padding {
  padding-left: 0;
  padding-right: 0;
}

// Navbar
@navbar-margin-bottom: @gap-big;
@navbar-default-bg: transparent;
@navbar-default-link-color: @blue-light;
@navbar-default-link-hover-color: @black;
@navbar-default-link-active-color: @black;
@navbar-default-link-active-bg: transparent;
@navbar-default-border: transparent;
@navbar-height: 170px;

// Carousel
@carousel-control-color: @black;
@carousel-control-opacity: 1;
@carousel-indicator-border-color: @black;
.carousel-control.right, .carousel-control.left {
  background-image: none;
  border: @borderline;
}
.carousel-control.left {
  border-left: none;
}
.carousel-control.right {
  border-right: none;
}
.carousel-inner {
  border: @borderline;
  padding: @gap-big;
  min-height: 300px;
}
.arrow-v-center {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  text-shadow: none;
}

// Header
header.main {
  padding: @gap-normal 0;
  margin-bottom: @gap-normal;
}

// Content
img.thumb { margin-bottom: @gap-normal; }

// Map
.google-maps-container { height: 300px; }

// Footer
footer.main {
  padding: @gap-big 0;
  color: @black;
  background-color: @grey;
  a.social-network-icon {
    margin-right: @gap-small;
    padding: @gap-small;
    border: @borderline;
    display: inline-block;
    //width: @gap-normal;
  }
  hr {
    border: 0;
    border-top: @borderline;
    margin: @gap-big 0 @gap-small 0;
  }
}

// Hovers
.hover-effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  margin-bottom: @gap-big;
  .overlay {
    padding: @gap-normal;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    .opacity(0);
    background-color: rgba(255, 255, 255, 0.85);
    .transition(all .2s ease-in-out);
  }
  img {
    display: block;
    position: relative;
  }
  h2 {
    color: @black;
    position: relative;
    font-size: 17px;
    padding: 0;
    margin: 0 0 @gap-small 0;
  }
  h3 {
    color: lighten(@black, 30%);
    font-size: 13px;
    padding: 0;
    margin: 0;
  }
}
.hover-effect:hover .overlay {
  .opacity(1);
}

// Scroll to top helper
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 2000;
  background-color: lighten(@black, 30);
  color: @white;
  width: 60px;
  height: 60px;
  right: 15px;
  bottom: 15px;
  padding-top: 8px;
  .transition (all 0.5s ease-in-out);
  &.show {
    visibility: visible;
    cursor: pointer;
    opacity: 0.85;
  }
  i.fa { line-height: inherit; }
}
