/* Colors */
.black-background { background-color: #000000; }
.light-brown-background { background-color: #DFDCD7; }
.white-background { background-color: #FFFFFF; }
.white-color      { color: #FFFFFF; }
.green-color      { color: #A1C548; }
.grey-color       { color: #8B8B8B; }

/* Body */
html { background-color: #FFFFFF; }

/* Margins */
.vertical-padding { padding: 20px 0; }
.padding-bottom   { padding: 16px 0; }

/* Custom main container */
.container-main {
   min-height: 400px;
   padding-top: 40px;
   padding-bottom: 40px;
}

/* Custom margins */
.left-margin-negative {
   margin-left: 15px;
}

/* Custom buttons */
table.button td a, table.tiny-button td a, table.small-button td a, table.medium-button td a, table.large-button td a {
   display: block !important;
}
table.button.empty-with-border td {
   background: #FFFFFF;
   border-color: #000000;
}
table.button.empty-with-border:hover td {
   background: #134b90 !important;
}
table.button.empty-with-border td a {
   color: #000000;
   padding: 15px 50px;
}
